# Data Files
**/data
# Config Files
/config/credentials.yaml
/config/database.ini
# Model Files
#/src/models
/src/models/bert_save.py
/src/models/covid_eda.py
/src/utils/sent_function.py


# BERT Model
# bert_model_gpu_v2.pth
# *.pth

# Python
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

# Git files
README.md
LICENSE
.gitignore