/* Chart General Layout Control */
.chart-row{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 270px;
    margin-right: 500px;

}

/* Table Layout Control */
.trend-category-table {
    width: 80%;
    margin-left: 270px;
}

#category-chart1{
    /*width : 80%!important;
    height: 80%!important;*/
}