/* Dashboard Card */
.dashboard-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.h2 {
    font-weight: bolder;
    color: darkgrey;
    }

.card-title,
.card-content{
    display: flex;
    justify-content: center;
    font-weight: 100;
}

/* Dashboard Search */
.search{
    font-family: 'Noto Sans KR';
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    }

.search_button {
    position: absolute;
    background-color: crimson;
    border: 20px;
    color: white;
    left: 83%;
    top: 4px;
    border-radius: 3px;
    width: 40px;
    opacity: 80%;
}

#search_channel,
#search_keyword{
    display: flex;
    margin-top: 30px;
}

.search_list {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.search_title {
    margin-right: 20px;
    background-color: lightgrey;
    border-radius: 5px;
}

.search_title,
.search_cancel {
    font-size: small;
    padding: 2px;
    display: flex;
    align-items: center;
}

.search_cancel {
    font-family: 'Noto Sans KR';
}

.search_cancel_link{
    color: indianred;
    }

/* Dashboard Channel */
.select-channelid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit_button {
    background-color: lightgrey;
    color: white;
    border: 20px;
    border-radius: 3px;
}

/* Dashboard Sentiment */
.sentiment,
.comment{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR';
    }

/* Dashboard Table */
.channel_table,
.video_table,
.keyword_table,
.comment_table,
.sentiment_table{
    margin-top: 30px;
    text-align: center;
    }



