#main_page{
    text-align: center;
}

#container_search{
    padding: 40px 100px 60px 100px;
}

/* carousel image size */
.carousel-item{
    height: 400px;
}

.carousel-item img{
    height: 400px;
}

.carousel_size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* carousel caption size */
#carousel-01{
    margin-left: 100px;
}

#carousel-02{
    margin-bottom: 50px;
}

#carousel-03{
    margin-right: 100px;
}