@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#main_page{
    text-align: center;
}

/* search engine layout */
#container_search{
    padding: 40px 100px 60px 100px;
}

/* carousel image size */
.carousel-item{
    height: 400px;
}

.carousel-item img{
    height: 400px;
}

.carousel_size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* carousel indicator */
.carousel-indicators {
  bottom:-30px;
}

.carousel-inner {
   margin-bottom:30px;
}

/* carousel caption size */
#carousel-01{
    margin-left: 140px;
    line-height: 1.2;
    word-break: keep-all;
    letter-spacing: -2px;
    font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '\\B3CB\C634', 'Dotum', sans-serif;
}

#carousel-02{
    margin-bottom: 50px;
    line-height: 1.2;
    word-break: keep-all;
    letter-spacing: -2px;
    font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '\\B3CB\C634', 'Dotum', sans-serif;
}

#carousel-03{
    margin-right: 140px;
    line-height: 1.2;
    word-break: keep-all;
    letter-spacing: -1px;
    font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '\\B3CB\C634', 'Dotum', sans-serif;
}

.btn{
    font-size:1rem;
    letter-spacing: 1px;
}
/* middle page
------------------------- */

/* middle page background color layout */
#main_background{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* main head wording layout */
.main-head{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 50%;
  /* font */
  line-height: 1.5;
  word-break: keep-all;
  font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '\\B3CB\C634', 'Dotum', sans-serif;
  letter-spacing: -1px;
  text-align: center;
}

/* main page layout */
#middle_page {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    height: 400px;

    line-height: 2;
    word-break: keep-all;
    font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '\\B3CB\C634', 'Dotum', sans-serif;
    letter-spacing: -0.5px;
}

/* middle page images */
.rounded-circle{
    border-radius: 30%!important;
    margin-bottom: 20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin-bottom: 30px;
  box-shadow:0px 2px 2px #DCDCDC;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}