.ranking_title {
    text-align: center;
    text-decoration: underline;
    color: AntiqueWhite;
    margin-top: 30px;
}

.ranking_analysis {
    display:flex;
    justify-content: flex-end;
    margin-left: 40px;
    margin-right: 40px;
}

.ranking_table {
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.video_title {
    text-align: center;
    }

.video{
    display: flex;
    justify-content: center;
    }


.table thead tr th {
    font-size: 13px;
    color: BurlyWood;
    background-color: AntiqueWhite;
    word-break: keep-all;
    }


.table tbody {
    font-size: 12px;
    word-break: keep-all;
    }

