.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 20px;
}

.search{
    margin-top: 30px;
    }

#search_channel,
#search_channel_id,
#search_keyword{
    display: flex;
    }