@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@import "screen/index.css";
@import "screen/ranking.css";
@import "screen/category.css";
@import "screen/channel.css";
@import "screen/search.css";


/* font-family: 'Times New Roman', sans-serif; */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.text-large {
  font-size: 150%;
}

.dropdown-toggle {
  outline: 0;
}
