{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5 time-frame-font">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/images/test.png" class="d-block mx-lg-auto img-fluid rounded shadow-lg" alt="..." width="700" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-8 fw-bold lh-1 mb-4">누구나 사용하는 데이터</h1>
        <p class="lead">저희는 누구나 사용할 수 있는 데이터를 활용하여 보다 쉽고 빠르게 정보를 제공하고 싶습니다.</p>
        <p class="lead">저희는 다양한 프로젝트를 진행하며, 그 과정에서 배운 지식과 문제해결방법을 사람들과 공유하고 싶습니다.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
          <a href="https://github.com/Jinmun-Park"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 time-frame-font">GITHUB</button></a>
          <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg px-4 time-frame-font">HOME</button></a>
        </div>
      </div>
    </div>
</div>

<div class="about-us vh-90" style="background-color: #eee;">
  <div class="container py-5 h-90">
    <div class="row d-flex justify-content-center align-items-center h-100 time-frame-font">
      <!-- Profile 1 : JM -->
      <div class="col-md-12 col-xl-4 me-4">
        <div class="info-card card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img
                src="../static/images/Jinmun_Park.png"
                class="img-fluid" style="width: 150px;" height="250"
              />
            </div>
            <h3 class="mb-2">JINMUN PARK</h3>
            <p class="text-muted mb-4">@DATA SCIENTIST <span class="mx-2">|</span> <a href="#!">pjm9827@gmail.com</a></p>
            <div class="mb-4 pb-2">
              <a href="https://github.com/Jinmun-Park"><button type="button" class="btn btn-outline-secondary btn-floating" style="border-radius: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github align-middle justify-content-center" viewBox="0 0 18 18">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </button></a>
              <a href="https://www.linkedin.com/in/park-9263a2162/"><button type="button" class="btn btn-outline-secondary btn-floating" style="border-radius: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-linkedin align-middle justify-content-center" viewBox="0 0 18 18">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
              </button></a>
            </div>
            <a href="/about/jinmunpark"><button type="button" class="btn btn-outline-success btn-rounded btn-lg rounded-pill time-frame-font">
              CHECK PROFILE &raquo;
            </button></a>
          </div>
        </div>
      </div>
      <!-- Profile 2 : EJ -->
      <div class="col-md-12 col-xl-4 me-4">
        <div class="info-card card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-4 mb-2">
              <img
                src="../static/images/ej_park.jpg"
                class="img-fluid" style="width: 160px;" height="300"
              />
            </div>
            <h3 class="mb-2">EUNJEONG PARK</h3>
            <p class="text-muted mb-4">@DATA SCIENTIST <span class="mx-2">|</span> <a href="#!">pej111797@gmail.com</a></p>
            <div class="mb-4 pb-2">
              <a href="https://github.com/eunjeongpak"><button type="button" class="btn btn-outline-secondary btn-floating" style="border-radius: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github align-middle justify-content-center" viewBox="0 0 18 18">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </button></a>
              <a href="https://www.linkedin.com/in/eunjeong-pak971117/"><button type="button" class="btn btn-outline-secondary btn-floating" style="border-radius: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-linkedin align-middle justify-content-center" viewBox="0 0 18 18">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
              </button></a>
            </div>
            <a href="/about/eunjeongpark"><button type="button" class="btn btn-outline-success btn-rounded btn-lg rounded-pill time-frame-font">
              CHECK PROFILE &raquo;
            </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}