{% extends 'base.html' %}

{% block title %}
인기 동영상 랭킹
{% endblock %}

{% block content %}
<div class="ranking_title">
    <h3> 오늘의 인기 동영상 랭킹 TOP 50 </h3>
</div>

<div class="button_group">
    <a  href="/ranking/category"><button type="button" class="btn btn-light">카테고리</button></a>
    <a  href="/ranking/channel"><button type="button" class="btn btn-light">채널</button></a>
    <button type="button" class="btn btn-light">조회수</button>
    <button type="button" class="btn btn-light">좋아요수</button>
    <button type="button" class="btn btn-light">싫어요수</button>
    <button type="button" class="btn btn-light">댓글수</button>
</div>

<div id="chart">
<canvas id="myChart1"></canvas>
    <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var mychart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ category | safe }},
                datasets: [{
                    label: '카테고리',
                    data: {{ category_rate | safe }},
                    borderColor: "rgb(75, 192, 192)"}]
            }
        });
    </script>
</div>

{% endblock %}