{% extends 'base.html' %}

{% block title %}
인기 동영상 랭킹
{% endblock %}

{% block content %}

<div class="container-fluid">
    <nav id="Trend-sidebarMenu" class="col-md-3 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
          <ul class="three-column-side nav nav-pills">
            <li class="nav-item">
              <a href="/latest_trend/category" class="nav-link active" aria-current="page">Latest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#">15 Days</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark" href="#">30 Days</a>
            </li>
          </ul>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/latest_trend/category" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              Category
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Productsa
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>

<div class="chart-row row">
    <div class="chart-left col-7 d-flex flex-column">
        <div class="flex-grow card-body rounded-3 shadow">
            <canvas class="my-4" id="category-chart1"></canvas>
                <script>
                    var ctx = document.getElementById("category-chart1");
                    var myChart = new Chart(ctx, {
                      type: 'horizontalBar',
                      data: {
                        datasets: [{
                          label: '유투브 카테고리',
                          data: {{ category_rate | safe }},
                          borderWidth: 1,
                          borderColor: "rgb(75, 192, 192)"
                        }],
                        labels: ["엔터테인먼트", "뮤직", "푸드", "게임", "라이프스타일", "스포츠", "사회", "건강"]
                      },
                      options: {
                        barPercentage: 1.0,
                        categoryPercentage: 1.0
                      }
                    });
                </script>
        </div>
    </div>
    <div class="chart-right col-4 d-flex flex-column">
        <div class="row flex-grow">
            <div class="chart-top-right flex-grow stretch-card rounded-3 shadow">
            <canvas class="my-4" id="category-chart2"></canvas>
                <script>
                    var chart2 = document.getElementById('category-chart2').getContext('2d');
                    var mychart1 = new Chart(chart2, {
                        type: 'doughnut',
                        data: {
                            labels: {{ category | safe }},
                            datasets: [{
                                label: '카테고리',
                                data: {{ category_rate | safe }},
                                backgroundColor: [
                                  'rgb(255, 99, 132)',
                                  'rgb(54, 162, 235)',
                                  'rgb(255, 205, 86)',
                                  'rgb(60, 179, 113)',
                                  'rgb(238, 130, 238)',
                                  'rgb(101, 200, 203)',
                                  'rgb(90, 90, 90)',
                                  'rgb(180, 180, 180)'
                                ],
                            }]
                        },
                        options: {
                            legend:{
                                position: 'bottom'
                            },
                            title: {
                                display: true,
                                text: '차트 카테고리 퍼센트 (%)',
                                fontSize: 15
                            }
                        }
                    });
                </script>
            </div>
            <div class="flex-grow stretch-card rounded-3 shadow">
            <canvas class="my-4" id="category-chart3"></canvas>
                <script>
                    var ctx = document.getElementById("category-chart3");
                    var myChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            datasets: [{
                                label: '조회수 (%)',
                                data: {{ category_like | safe }},
                                borderWidth: 1,
                                backgroundColor: [
                                  'rgb(255, 99, 132)',
                                  'rgb(54, 162, 235)',
                                  'rgb(255, 205, 86)',
                                  'rgb(60, 179, 113)',
                                  'rgb(238, 130, 238)',
                                  'rgb(101, 200, 203)',
                                  'rgb(90, 90, 90)',
                                  'rgb(180, 180, 180)'
                                ]
                            }],
                            labels: ["엔터테인먼트", "뮤직", "푸드", "게임", "라이프스타일", "스포츠", "사회", "건강"]
                        },
                        options: {
                            barPercentage: 1.0,
                            categoryPercentage: 1.0,
                            title: {
                                display: true,
                                text: '차트 조회수 (%)',
                                fontSize: 15
                            },
                            legend: {
                                display: false,
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>


</div>

<div class="trend-category-table">
<table id="table" class="table table-hover">
  <thead>
    <tr>
        <th scope="col"></th>
        {% for col in category_channel.columns %}
            <th scope="col">{{col}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
        {% for i in category_channel.index %}        <! -- for tag start -->
        <tr>
            <th>{{ i }}</th>
            <td>{{ category_channel['카테고리'][i] }}</td>
            <td>{{ category_channel['채널명'][i] }}</td>
            <td>{{ category_channel['조회수'][i] }}</td>
            <td>{{ category_channel['좋아요수'][i] }}</td>
            <td>{{ category_channel['댓글수'][i] }}</td>
        </tr>
        {% endfor %}                          <! -- for tag end -->
  </tbody>
</table>
</div>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#table').DataTable({
        columns: [
          {orderable: false, searchable: false},
          null,
          null,
          null,
          null,
          null,
          null],
      });
    });
  </script>
{% endblock %}