{% extends 'base.html' %}

{% block title %}
인기 동영상 랭킹
{% endblock %}

{% block content %}

<div class="ranking_table">
<table id="table" class="table table-bordered table-hover align-middle">
  <thead class="table-light">
    <tr>
        <th scope="col"></th>
        {% for title in titles %}
            <th scope="col">{{title}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
        {% for i in data.index %}        <! -- for tag start -->
        <tr>
            <th>{{ i }}</th>
            <td style="width: 20%;"><div class="video"><iframe width="320" height="180" src="https://www.youtube.com/embed/{{ video_ids[i] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></td>
            <td style="width: 25%">{{ data['동영상'][i] }}</td>
            <td style="width: 13%;">{{ data['채널명'][i] }}</td>
            <td style="width: 7%;">{{ data['날짜'][i] }}</td>
            <td style="width: 7%;">{{ data['조회수'][i] }}</td>
            <td style="width: 7%;">{{ data['좋아요수'][i] }}</td>
            <td style="width: 7%;">{{ data['싫어요수'][i] }}</td>
            <td style="width: 7%;">{{ data['댓글수'][i] }}</td>
            <td style="width: 7%;">{{ data['카테고리'][i] }}</td>
        </tr>
        {% endfor %}                          <! -- for tag end -->
  </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#table').dataTable({
        columns: [
          {searchable: false},
          {orderable: false},
          {orderable: false},
          {orderable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          null],
      });
    });
  </script>


{% endblock %}

