{% extends 'base.html' %}

{% block title %}
채널 검색
{% endblock %}

{% block content %}

    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Dashboard Header -->
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    </header>

    <!-- Dashboard Navbar -->
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                      <div class="search">
                      <form id="search_channel" method="get" action="/dashboard/channel_result">
                      <input name="cha_name" type="text" class="form-control" placeholder="채널을 검색하세요." aria-label="채널을 검색하세요." aria-describedby="button-addon2">
                      <input type="submit" value="검색">
                      </form>
                      </div>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="search">
                    <form id="search_channel_id" method="get" action="/dashboard/video_result">
                    <input name="channel_id" type="text" class="form-control" placeholder="채널아이디를 검색하세요." aria-label="채널아이디를 검색하세요." aria-describedby="button-addon2">
                    <input type="submit" value="검색">
                    </form>
                    </div>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                      <div class="search">
                      <form id="search_keyword" method="get" action="/dashboard/filter_result">
                      <input name="find" type="text" class="form-control" placeholder="키워드를 검색하세요." aria-label="키워드를 검색하세요." aria-describedby="button-addon2">
                      <input type="submit" value="검색">
                      </form>
                      </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>

    <!-- Dashboard Main -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

        <div class="col-lg-12 grid-margin stretch-card" style="user-select: auto;">
                      <div class="card" style="user-select: auto;">
                        <div class="card-body" style="user-select: auto;">
                          <h4 class="card-title" style="user-select: auto;">Bordered table</h4>

                          <div class="table-responsive pt-3" style="user-select: auto;">
                            <table class="table table-bordered" style="user-select: auto;">
                              <thead style="user-select: auto;">
                                <tr style="user-select: auto;">
                                  <th style="user-select: auto;">
                                      A
                                  </th>
                                  <th style="user-select: auto;">
                                    B
                                  </th>
                                  <th style="user-select: auto;">
                                    C
                                  </th>
                                  <th style="user-select: auto;">
                                    D
                                  </th>
                                  <th style="user-select: auto;">
                                    E
                                  </th>
                                </tr>
                              </thead>

                              <tbody style="user-select: auto;">
                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%; user-select: auto;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>

                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%; user-select: auto;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>

                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%; user-select: auto;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>

                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: 50%; user-select: auto;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>

                                </tr>
                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 35%; user-select: auto;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>

                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-info" role="progressbar" style="width: 65%; user-select: auto;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>
                                <tr style="user-select: auto;">
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">
                                    <div class="progress" style="user-select: auto;">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 20%; user-select: auto;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                  <td style="user-select: auto;">

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>





    </main>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
