{% extends 'base.html' %}

{% block title %}
About Us - EJ PARK
{% endblock %}

{% block content %}


<div class="profile-top-margin container time-frame-font">
    <div class="main-body">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/about">Member</a></li>
              <li class="breadcrumb-item active" aria-current="page">Eunjeong Park</li>
            </ol>
          </nav>
          <!-- Headline -->
          <div class="row mt-3">
            <div class="time-frame-font fs-5">PROFILE</div>
          </div>
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card shadow profile-border-left-blue">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../static/images/ej_park.jpg" alt="..." width="150" height="180">
                    <div class="mt-3">
                      <h4>박 은 정</h4>
                      <p class="text-secondary mb-1">데이터 사이언티스트</p>
                      <p class="text-muted font-size-sm">코드스테이츠</p>
                      <a href="#"><button class="btn btn-primary time-frame-font">WEBSITE</button></a>
                      <a href="https://github.com/eunjeongpak"><button class="btn btn-outline-primary time-frame-font">GITHUB</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Headline -->
              <div class="row mt-3">
                <div class="time-frame-font fs-5">HISTORY</div>
              </div>
              <!-- History -->
              <div class="card mt-2 shadow">
                <div class="card-body">
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-2">
                        • 2016.03 - 2022.02
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">고려대학교 경제학과</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-2">
                        • 2020.09 - 2020.12
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">모비데이즈 마케팅사업본부 인턴</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-2">
                        • 2021.05 - 2021.11
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">코드스테이즈 AI 부트캠프 4기</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-2">
                        • 2021.09 - 2021.12
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">DATAPARK (개인프로젝트)</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Personal information -->
            <div class="col-md-8">
              <div class="card mb-3 shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">이름</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      박 은 정
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">이메일</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      pej111797@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">번호</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      010-6850-3513
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">재직여부</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      구직중
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">주소</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      서울특별시 마포구 월드컵북로 501
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <!-- SKILLS -->
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3 mt-1">
                  <div class="card h-100 shadow">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">개인 프로젝트</h6>
                      맛집 FLASK APPLICATION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      NAVER SHOPPING REVIEW BERT
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      API WEB APPLICATION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      IMAGE RECOGNITION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mt-1">
                  <div class="card h-100 shadow">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">기술역량</h6>
                      PYTHON
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      SQL
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      MICROSOFT OFFICE
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      HTML/CSS
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}