{% extends 'base.html' %}

{% block title %}
유튜브 분석 서비스
{% endblock %}

{% block content %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://developers.google.com/youtube/images/youtube_home_page_analytics_api_1440.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>인기 동영상 랭킹 분석</h5>
        <p>지금 제일 인기있는 영상에 대한 분석 서비스를 제공합니다</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://developers.google.com/youtube/images/youtube_home_page_data_api_856.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>채널 분석</h5>
        <p>채널을 검색하면 채널에 대한 분석 서비스를 제공합니다</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="container_search" class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
{% endblock %}
