{% extends 'base.html' %}

{% block title %}
유튜브 분석 서비스
{% endblock %}

{% block content %}

<!-- search -->
<div id="main_page">
  <div id="container_search" class="container">
    <form class="d-flex">
      <input class="form-control form-control-lg" type="search" placeholder="채널을 검색하세요" aria-label="Search">
      <button class="btn btn-outline-danger btn-lg" type="submit">Search</button>
    </form>
  </div>
</div>

<!-- carousel start -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- carousel starts -->
  <div class="carousel-inner">
    <!-- carousel 001 -->
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../static/images/carousel_01.jpg" class="carousel_size" alt="...">
        <!-- caption button 001 -->
         <div class="container">
          <div id="carousel-01" class="carousel-caption text-start">
            <h2>어느 채널을 알아볼까요?</h2>
            <p style="font-size:110%;"> 원하시는 채널을 분석해보세요</p>
            <p><a class="btn btn-lg btn-danger" href="/dashboard">DASHBOARD</a></p>
          </div>
        </div>
    </div>
    <!-- caption button 001 ends -->
    <!-- carousel 002 -->
    <div class="carousel-item" data-bs-interval="8000">
      <img src="../static/images/carousel_02.jpg" class="carousel_size" alt="...">
        <!-- caption button 002 -->
        <div class="container">
          <div id="carousel-02" class="carousel-caption text-center">
            <h2>최근 트렌드가 뭔지 볼까?</h2>
            <p style="font-size:110%;">기간별로 트렌드를 확인하세요</p>
            <p><a class="btn btn-lg btn-warning" href="/latest_trend">LATEST TREND</a></p>
          </div>
        </div>
    </div>
    <!-- caption button 002 ends -->
    <!-- carousel 003 -->
    <div class="carousel-item" data-bs-interval="8000">
      <img src="../static/images/carousel_03.jpg" class="carousel_size" alt="...">
        <!-- caption button 003 -->
        <div class="container">
          <div id="carousel-03" class="carousel-caption text-end">
            <h2>오늘의 차트1위 비디오는?</h2>
            <p style="font-size:110%;">지금 YOUTUBE 차트순위를 확인해보세요</p>
            <p><a class="btn btn-lg btn-primary" href="/chart">CHART</a></p>
          </div>
        </div>
    </div>
    <!-- caption button 003 ends -->
  </div>
   <!-- carousel ends -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- middle page start -->
<div id="main_background" class="carousel-inner bg-light">
 <div class="main-head">
     <h3 style="font-weight: bold">YOUTUBE 데이터를 분석해보세요</h3>
     <h5 style="color:#5F6562">BERT를 활용한 감정분석과 다양한 데이터 시각화를 즐겨보세요</h5>
 </div>
 <div id="middle_page" class="container marketing">
   <!-- Three columns of text below the carousel -->
   <div class="row">
     <!-- middle image 001 -->
     <div class="col-lg-4">
       <img src="../static/images/middle_page_01.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
       <h3 style="color:#155E39">인기차트</h3>
       <p style="font-size:110%;">매일 국내 YOUTUBE 인기차트를 제공합니다. 오늘의 인기 비디오는 무엇인지 확인해보세요</p>
     </div>
     <!-- middle image 002 -->
     <div class="col-lg-4">
       <img src="../static/images/middle_page_02.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
       <h3 style="color:#155E39">대시보드</h3>
       <p style="font-size:110%;">원하는 채널을 집중적으로 분석해보세요. 선택하신 채널의 댓글을 BERT를 사용하여 감정분석을 해보세요</p>
     </div>
     <!-- middle image 003 -->
     <div class="col-lg-4">
       <img src="../static/images/middle_page_03.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
       <h3 style="color:#155E39">트렌드</h3>
       <p style="font-size:110%;">국내 YOUTUBE 비디오의 최신 트렌드가 궁금하지 않으세요? 기간별로 트렌드를 확인해보세요</p>
     </div>
   </div>
 </div>
</div>
<!-- middle page end -->

<!-- bottom page start -->
<!-- bottom page background -->
<div class="bg-white">
  <!-- bottom page 001 -->
  <hr class="featurette-divider">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <div class="bottom-text">
          <h1><span style="color:#B00401">YOUTUBE</span> 교육을 제공합니다.</h1>
          <p style="font-size:120%;">API, 머신러닝, 구글 클라우드 등 다양한 교육 컨텐츠를 계획중입니다. <br>
          우리의 유투브 채널을 구독해주세요. <br>
          </p>
          <p><a class="btn btn-lg btn-outline-danger" href="#">YOUTUBE &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="../static/images/bottom_page_01.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto" width="500" height="480" alt="...">
      </div>
    </div>
    <!-- bottom page 002 -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <div class="bottom-text">
          <h1><span style="color:#79797D">DATA SCIENTIST</span> 기술을 반영했습니다.</h1>
          <p style="font-size:120%;">데이터 시각화, BERT를 이용한 감정분석을 적용했습니다. <br>
          더욱 많은 머신러닝과 시계열분석 서비스를 계획중입니다. <br>
          우리의 코드를 확인해보세요.
          </p>
          <p><a class="btn btn-lg btn-outline-secondary" href="https://github.com/Jinmun-Park/api_webapp">GITHUB &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/images/bottom_page_02.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto" width="500" height="480" alt="...">
      </div>
    </div>
    <!-- bottom page 003 -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <div class="bottom-text">
          <h1><span style="color:#3A41FF">BLOG</span> 에 우리의 과정을 담았습니다.</h1>
          <p style="font-size:120%;">데이터분석, 클라우드 셋업과 웹 개발과정에 발생한 문제에 해결방법을 작성하였습니다.<br>
          우리의 모든 프로젝트 기획과정과 커리어 계획등 모든 고민을 블로그에 담았습니다. <br>
          우리의 블로그를 구독해주세요.
          </p>
          <p><a class="btn btn-lg btn-outline-primary" href="#">NOTION &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="../static/images/bottom_page_03.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto" width="500" height="480" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="footer" style="--bs-bg-opacity: .5;">
<div class="container">
  <footer class="row row-cols-5 py-5">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none text-large text-dark">
        YOUTUBE ANALYTIC
      </a>
      <p class="text-muted">서울시 서대문구 충정로 53 <br>
      유원골든타워</p>
      <p class="text-muted">&copy; 2021</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>MAIN</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="/chart" class="nav-link p-0 text-muted">Chart</a></li>
        <li class="nav-item mb-2"><a href="/dashboard" class="nav-link p-0 text-muted">Dashboard</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>TREND</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Latest Trend</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">15days Trend</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">30days Trend</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>ABOUT US</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Github</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Youtube</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
      </ul>
    </div>
  </footer>
</div>
</div>

{% endblock %}