{% extends 'base.html' %}

{% block title %}
About Us - JM PARK
{% endblock %}

{% block content %}


<div class="profile-top-margin container time-frame-font">
    <div class="main-body">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/about">Member</a></li>
              <li class="breadcrumb-item active" aria-current="page">Jinmun Park</li>
            </ol>
          </nav>
          <!-- Headline -->
          <div class="row mt-3">
            <div class="time-frame-font fs-5">PROFILE</div>
          </div>
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card shadow profile-border-left-green">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../static/images/Jinmun_Park.png" alt="..." width="150" height="200">
                    <div class="mt-3">
                      <h4>박 진 문</h4>
                      <p class="text-secondary mb-1">데이터 사이언티스트</p>
                      <p class="text-muted font-size-sm">IBM 근무중 (12월 퇴사예정)</p>
                      <a href="https://jinmunpark.netlify.app/"><button class="btn btn-success time-frame-font">WEBSITE</button></a>
                      <a href="https://github.com/Jinmun-Park"><button class="btn btn-outline-success time-frame-font">GITHUB</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Headline -->
              <div class="row mt-3">
                <div class="time-frame-font fs-5">HISTORY</div>
              </div>
              <!-- History -->
              <div class="card mt-1 shadow">
                <div class="card-body">
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-1">
                        • 2011.01 - 2013.07
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">테일러 컬리지 (말레이시아)</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-1">
                        • 2013.07 - 2015.04
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">GOP 만기재대</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-1">
                        • 2016.03 - 2018.12
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">모나쉬 대학교 (호주)</span>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-5 text-start mt-1">
                        • 2018.12 - 현재
                      </div>
                      <div class="col text-end">
                        <span class="text-secondary">IBM (말레이시아, 3년)</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Personal information -->
            <div class="col-md-8">
              <div class="card mb-3 shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">이름</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      박 진 문
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">이메일</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      pjm9827@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">번호</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      010-8440-4180
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">재직여부</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      이직희망
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">주소</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      서울특별시 통일로 348
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <!-- SKILLS -->
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3 mt-1">
                  <div class="card h-100 shadow">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">개인 프로젝트</h6>
                      EXCEL AUTOMATION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      COVID MODEL FOR KOREA SMEs
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      API WEB APPLICATION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      IMAGE RECOGNITION
                      <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mt-1">
                  <div class="card h-100 shadow">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">기술역량</h6>
                      R/PYTHON
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      SQL
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      MICROSOFT OFFICE
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      GOOGLING
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}