{% extends 'base.html' %}

{% block title %}
인기 동영상 랭킹
{% endblock %}

{% block content %}
<div class="ranking_title">
    <h3> 오늘의 인기 동영상 랭킹 TOP 50 </h3>
</div>

<div class="button_group">
    <button type="button" class="btn btn-light" href="/category">카테고리</button>
    <button type="button" class="btn btn-light" href="/channel">채널</button>
    <button type="button" class="btn btn-light">조회수</button>
    <button type="button" class="btn btn-light">좋아요수</button>
    <button type="button" class="btn btn-light">싫어요수</button>
    <button type="button" class="btn btn-light">댓글수</button>
</div>

<div class="ranking_table">
<table class="table">
  <thead>
    <tr>
        <th scope="col"></th>
        {% for title in titles %}
            <th scope="col">{{title}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
        {% for i in data.index %}        <! -- for tag start -->
        <tr>
            <th>{{ i }}</th>
            <td>{{ data['동영상'][i] }}</td>
            <td>{{ data['채널명'][i] }}</td>
            <td>{{ data['날짜'][i] }}</td>
            <td>{{ data['조회수'][i] }}</td>
            <td>{{ data['좋아요수'][i] }}</td>
            <td>{{ data['싫어요수'][i] }}</td>
            <td>{{ data['댓글수'][i] }}</td>
            <td>{{ data['카테고리'][i] }}</td>
        </tr>
        {% endfor %}                          <! -- for tag end -->
  </tbody>
</table>
</div>

{% endblock %}