{% extends 'base.html' %}

{% block title %}
인기 동영상 랭킹
{% endblock %}

{% block content %}
<div class="ranking_title">
    <h3> 오늘의 인기 동영상 랭킹 TOP 50 </h3>
</div>

<div class="button_group">
    <a  href="/ranking/category"><button type="button" class="btn btn-light">카테고리</button></a>
    <a  href="/ranking/channel"><button type="button" class="btn btn-light">채널명</button></a>

</div>

<div class="ranking_table">
<table id="table" class="table table-hover">
  <thead>
    <tr>
        <th scope="col"></th>
        {% for title in titles %}
            <th scope="col">{{title}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
        {% for i in data.index %}        <! -- for tag start -->
        <tr>
            <th>{{ i }}</th>

            <td class="video_title"><div class="video"><iframe width="330" height="150" src="https://www.youtube.com/embed/{{ video_ids[i] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                {{ data['동영상'][i] }}</td>

            <td>{{ data['채널명'][i] }}</td>
            <td>{{ data['날짜'][i] }}</td>
            <td>{{ data['조회수'][i] }}</td>
            <td>{{ data['좋아요수'][i] }}</td>
            <td>{{ data['싫어요수'][i] }}</td>
            <td>{{ data['댓글수'][i] }}</td>
            <td>{{ data['카테고리'][i] }}</td>
        </tr>
        {% endfor %}                          <! -- for tag end -->
  </tbody>
</table>
</div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#table').DataTable({
        columns: [
          {orderable: false, searchable: false},
          {orderable: false},
          {orderable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          null],
      });
    });
  </script>
{% endblock %}

